[Unit]
Description=Fan Manager Service

[Service]
Type=simple
WorkingDirectory=/opt/Fan-Manager
ExecStart=/usr/bin/python3 /opt/Fan-Manager/fan-manager.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
